@import "./variables.scss";

.indexWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color : $purple;
}

.indexHeader {
    font-size: 2em;
        color: $white;
    text-shadow: $blue 0px 0px 2px;
}

.indexSubHeader{
    font-size : 1em;

}



    
